<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vixi's Anthro Size Diff Calculator!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Open Graph tags -->
    <meta property="og:title" content="Vixi's Anthro Size Diff Calculator" />
    <meta property="og:description" content="Compare your anthro sizes!" />
    <meta property="og:image" content="{{ url_for('generate_image', characters=characters_query, size=1200) }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="https://size-diff.kitsunehosting.net/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card tags for larger image display in discord only (lol, special) -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Vixi's Anthro Size Diff Calculator" />
    <meta name="twitter:description" content="Compare your anthro sizes!" />
    <meta name="twitter:image" content="{{ url_for('generate_image', characters=characters_query, size=1200) }}" />
</head>

<body>
    <div class="container">
        <h1>Vixi's Anthro Size Diff Calculator!</h1>

        <!-- Display the flash message if there is one -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form method="POST" class="form-container">
            <!-- Name Field -->
            <div class="form-group">
                <label for="name">Enter Name:</label>
                <input type="text" id="name" name="name" placeholder="Character Name">
            </div>

            <!-- Species Field -->
            <div class="form-group">
                <label for="species">Select Species:</label>
                <select id="species" name="species">
                    {% for specie in species %}
                    <option value="{{ specie }}" {% if specie==selected_species %} selected {% endif %}>
                        {{ specie.replace('_', ' ').title() }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Gender Field -->
            <div class="form-group">
                <label for="gender">Select Gender:</label>
                <select id="gender" name="gender">
                    <option value="male" {% if gender=='male' %} selected {% endif %}>Male</option>
                    <option value="female" {% if gender=='female' %} selected {% endif %}>Female</option>
                    <option value="androgynous" {% if gender=='androgynous' %} selected {% endif %}>Androgynous</option>
                </select>
            </div>

            <!-- Height Field -->
            <div class="form-group">
                <label for="anthro_height">Anthro Height:</label>
                <legend>Ex. 125cm or 4'11"</legend>
                <input type="string" id="anthro_height" name="anthro_height" value="{{ anthro_height }}">
            </div>

            <button type="submit">Add</button>
        </form>

        {% if characters_list %}
        <div class="image-container">
            <img src="{{ url_for('generate_image', characters=characters_query, size=1024) }}"
                alt="Generated Size Image" height="380vh" />

            <div class="remove-buttons">
                {% for char in characters_list %}
                <a href="{{ url_for('remove_character', index=loop.index0, characters=request.args.get('characters')) }}"
                    class="remove-btn">
                    Remove {{ char["name"] }} <!-- Now using the character's name -->
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="share-link">
            <p>Share this lineup:</p>
            <a href="{{ request.url }}">{{ request.url }}</a>
        </div>
        {% endif %}
    </div>

    <footer>
        <p>
            Running Version {{ version }}, Art by <a href="https://kitsunehosting.net">Nobody</a>
        </p>
        <p>
            Unique Visitors: {{ stats.unique_visitors }} | Images Generated: {{ stats.images_generated }} | Cache
            Performance: {{ cache_performance }}
        </p>
    </footer>
</body>

</html>